{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .container {
    position: absolute;
    top: 370;
    left: 50;
    display: flex;
    gap: 30px;
  }

  .button-custom {
    padding: 10px 20px;
    width: 500px;
    border: 1px solid white;
    text-decoration: none;
    font-size: 40px;
    color: white;
  }
  .button-custom:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.3s;
  }
  .active {
    background-color: #bfbfbf;
    color: black;
  }

  @media screen and (max-width: 1366px) {
    .container {
      top: 300px;
    }
  }
</style>

<div class="container">
  <span class="width">
    <a href="{% url 'chat' %}" class="button-custom active">PROBIZ</a>
  </span>
  <span class="width">
    <a href="{% url 'chat' %}" class="button-custom">EXPLORE</a>
  </span>
</div>

{% endblock %}
