{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    .container {
      margin-top: 252px; /* Adjust the margin-top value as needed */
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .container .btn-primary {
      font-size: 1.5rem; /* Adjust the font size as needed */
      padding: 10px 20px; /* Adjust the padding as needed */
      margin-right: 10px !important; /* Adjust the margin-right value as needed */
    }
  </style>

  <div class="container">
    <a href="{% url 'chat' %}" class="btn btn-primary">Go to Chat</a>
  </div>

{% endblock %}
