{% load static %}
<nav class="navbar nav-bar-custom navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-start align-items-center">
    <img src="{% static "images/pup-logo.png" %}" class="pup-logo" alt="">
    <a class="project-title" href="{% url 'home' %}">ProBiz Mentor </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item nav-item-custom">
          <a class="nav-link" aria-current="page" href="{% url 'chat' %}"
            >Chat</a
          >
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" href="{% url 'resources' %}">Resources</a>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" href="{% url 'tutorials' %}">Tutorials</a>
        </li>
        <li class="nav-item nav-item-custom">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <!-- Sidebar/menu content -->
      </ul>
    </div>
  </div>
</nav>
<!-- Sidebar/menu content -->
<div class="sidebar" id="sidebar">
  <ul class="list-unstyled">
    <li>
      <a href="#" class="notes-link">Notes</a>
      <i class="fa-solid fa-pen" style="color: white"></i>
      <hr />
    </li>

    <li id="menu-toggle">
      <button class="chevron-btn">
        <i class="fas fa-chevron-left"></i>
      </button>
    </li>
  </ul>
</div>
<div class="popup-container" id="popup-container">
  <div class="popup-content">
    <div class="popup-header">
      <span class="close-btn" id="close-btn">&times;</span>
    </div>
    <div class="popup-body">
      <div id="editor-container"></div>
    </div>
  </div>
</div>

<style>
  .nav-link {
    height: 50px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item-custom:not(.active-custom):hover {
    color: white;
    border: 1px solid white;
    font-size: 23px;
    font-weight: bold;
    transition: ease-in-out 0.3s;
  }
  .pup-logo {
    height: 80px;
    width: auto;
    margin-right: 20px;
  }
  #editor-container {
    height: 500px;
  }
  .popup-container {
    display: none;
    position: absolute;
    bottom: 590px;
    left: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 999;
  }

  /* Popup content styles */
  .popup-content {
    width: 730px;
    height: 570px;
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }

  /* Popup header styles */
  .popup-header {
    display: flex;
    justify-content: flex-end;
  }

  .close-btn {
    cursor: pointer;
  }

  /* Popup body styles */
  .popup-body {
    margin-top: 10px;
  }

  .list-unstyled {
    width: 100%;
    text-align: right;
    color: white;
  }
  .chevron-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .fas {
    position: absolute;
    top: 50%;
    right: 230px;
    background-color: #333;
    z-index: 9999;
    color: white;
    border-radius: 60px;
    height: 40px;
    display: grid;
    place-items: center;
    width: 40px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: -240;
    width: 250px;
    padding-right: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: flex-end;
    height: 100%;
    background-color: #333;
    transition: all 0.3s ease;
  }

  .sidebar.active {
    right: 0; /* Show sidebar when active class is added */
  }

  .sidebar ul {
    padding: 0;
    list-style: none;
  }

  .sidebar ul li {
    padding: 8px;
    font-size: 18px;
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }

  .sidebar ul li a:hover {
    color: #ccc;
  }

  .nav-bar-custom {
    opacity: 0.8;
  }
  .nav-item-custom {
    margin-right: 20px;
    font-size: 30px;
    padding: 0px;
    text-align: center;
    width: 200px;
  }
  .active-custom {
    font-size: 20px;
    font-weight: bold;
    background-color: #e6e6e6;
  }
  .project-title {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
  }
  /* .nav-item-custom.active-custom:hover {
    color: inherit;
    border: none;
    font-size: inherit;
    font-weight: bold;
    transition: none;
  } */

  @media screen and (max-width: 1366px) {
    .sidebar {
      width: 200px;
      right: -190;
    }
    .fas {
      right: 180px;
    }

    .nav-item-custom {
      margin-right: 20px;
      padding: 0px;
      text-align: center;
      width: 120px;
      font-size: 20px;
    }
    .project-title {
      font-size: 30px;
    }

    .pup-logo {
      height: 65px;
      width: auto;
      margin-right: 10px;
    }
    .active-custom {
      font-size: 23px;
    }
    /* .nav-item-custom.active-custom:hover {
      color: inherit;
      border: none;
      font-size: inherit;
      font-weight: bold;
      transition: none;
    } */
    .nav-item-custom:not(.active-custom):hover {
      color: white;
      border: 1px solid white;
      font-size: 23px;
      font-weight: bold;
      transition: ease-in-out 0.3s;
    }
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var currentLocation = window.location.href;
    var navLinks = document.querySelectorAll(".nav-link");

    navLinks.forEach(function (link) {
      if (link.href === currentLocation) {
        link.parentElement.classList.add("active-custom");
      }
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    // Retrieve the content from local storage and set it in the editor
    var storedContent = localStorage.getItem("quillContent");
    var quill = new Quill("#editor-container", {
      theme: "snow",
    });

    if (storedContent) {
      quill.clipboard.dangerouslyPasteHTML(storedContent);
    }

    var notesLinks = document.querySelectorAll(".notes-link");
    var popupContainer = document.getElementById("popup-container");
    var closeBtn = document.getElementById("close-btn");

    notesLinks.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault();
        popupContainer.style.display = "block";
      });
    });

    closeBtn.addEventListener("click", function () {
      // Get the HTML content from the editor and save it to local storage
      var editorContent = document.querySelector(".ql-editor").innerHTML;
      localStorage.setItem("quillContent", editorContent);

      popupContainer.style.display = "none";
    });
  });
</script>
